body{
    color: black;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr:nth-child(2n)
{
    background: lightgray;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.special_img {
    max-height: 400px;
    min-height: auto;
    padding: 0;
}

.header {
    padding: 3px;
    text-align: center;
    background: rgb(179, 218, 242);
    color: black;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dynamic_header {
    padding: 2px;
    text-align: center;
    background: rgb(200, 225, 241);
    color: black;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited { 
    color: black
}

/* code from https://www.w3schools.com/howto/howto_js_filter_table.asp */
#film_input {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #film_table {
    border-collapse: collapse; /* Collapse borders */
  }
  
  #show_input {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #show_table {
    border-collapse: collapse; /* Collapse borders */
  }

  #book_input {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #book_table {
    border-collapse: collapse; /* Collapse borders */
  }

  
