:root {
    --family-secondary: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --family-primary: var(--family-secondary);

    --code-color: var(--color-neutral-800);
    --code-background: var(--color-neutral-100);

    --color-neutral-000: #ffffff;
    --color-neutral-50: #f3f4f6;
    --color-neutral-100: #e5e7eb;
    --color-neutral-200: #d1d5db;
    --color-neutral-300: #9ca3af;
    --color-neutral-400: #6b7280;
    --color-neutral-500: #4b5563;
    --color-neutral-600: #374151;
    --color-neutral-700: #1f2937;
    --color-neutral-800: #172136;
    --color-neutral-900: #0b0f18;

    --color-critical-000: #fef2f2;
    --color-critical-50: #fee2e2;
    --color-critical-100: #fecaca;
    --color-critical-200: #fca5a5;
    --color-critical-300: #f87171;
    --color-critical-400: #ef4444;
    --color-critical-500: #dc2626;
    --color-critical-600: #b91c1c;
    --color-critical-700: #991b1b;
    --color-critical-800: #7f1d1d;
    --color-critical-900: #441313;

    --color-warning-000: #fffbeb;
    --color-warning-50: #fef3c7;
    --color-warning-100: #fde68a;
    --color-warning-200: #fcd34d;
    --color-warning-300: #fbbf24;
    --color-warning-400: #f59e0b;
    --color-warning-500: #d97706;
    --color-warning-600: #b45309;
    --color-warning-700: #92400e;
    --color-warning-800: #783900;
    --color-warning-900: #411e01;

    --color-positive-000: #f0fdf4;
    --color-positive-50: #dcfce7;
    --color-positive-100: #bbf7d0;
    --color-positive-200: #86efac;
    --color-positive-300: #4ade80;
    --color-positive-400: #22c55e;
    --color-positive-500: #16a34a;
    --color-positive-600: #15803d;
    --color-positive-700: #166534;
    --color-positive-800: #14532d;
    --color-positive-900: #0f2e1b;

    --color-info-000: #eff6ff;
    --color-info-50: #dbeafe;
    --color-info-100: #bfdbfe;
    --color-info-200: #93c5fd;
    --color-info-300: #60a5fa;
    --color-info-400: #3b82f6;
    --color-info-500: #2563eb;
    --color-info-600: #1d4ed8;
    --color-info-700: #1e40af;
    --color-info-800: #1e3a8a;
    --color-info-900: #14244e;

    --color-urge-000: #f5f3ff;
    --color-urge-50: #ede9fe;
    --color-urge-100: #ddd6fe;
    --color-urge-200: #c4b5fd;
    --color-urge-300: #a78bfa;
    --color-urge-400: #8b5cf6;
    --color-urge-500: #7c3aed;
    --color-urge-600: #6d28d9;
    --color-urge-700: #5b21b6;
    --color-urge-800: #4c1d95;
    --color-urge-900: #240e44;

}

.cinema{
    object-fit: cover;
    height:125px; 
    border-radius:10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.portrait{
        object-fit: cover;
        height:150px; 
        border-radius:10px;
        margin-bottom: 5px;
        margin-right: 5px;
}
